body{
  background-color: #f5f5f5;
  font-family: 'Poppins';
  text-decoration: none;

}
.navbar{
  margin: 2em;
  background-color: white;
  padding: 1em;
  font-family: 'Poppins'; 
  
}

.navbar-brand{
  font-family: 'Poppins';
  color:black; 
  font-weight: 1000;
}

.navbar-brand:hover{
  color: black;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  color: #3E3939;
}

#active, #active:hover{
  background-color: black;
  color:white;
}


