

    
    .logo{
        position: absolute;
        top: -50%; left: 50%;
        transform: translateX(-50%);
    }

    h2{
        margin-left: -.25em;
        font-weight: 1000;
    }

    .card{
    width : 23%;
    position: absolute;
    bottom: 25%; left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 5px 18px #888888;
    font-size: 12px;
    }

    .card-body{
    margin: 1.25em;
    }

    .btn-login{
    background-color: #337DEF;
    border: none;
    color: white;
    width: 100%;
    border-radius: 20px;
    margin-top: .5em;
    font-weight: bolder;
    font-size: 12px;
    padding: 7px;

    }

    .btn-login:hover {
    background-color: #000999;
    color: white;   
    }

    .form-control{
    border-radius: 20px; 
    background-color: transparent;
    border: 2;
    margin-bottom: 1em;
    font-size: 12px;
    padding: 7px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    }
